.fix-center{
    margin-top: 65vb;
    margin-left: 30vb;
    

}
body{
    height: 100vb;
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/404.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

